{
    "log": {
        "console": {
            "level": "debug"
        },
        "file": {
            "level": "info"
        },
        "graylog": {
            "level": "debug",
            "gelfPro": {
                "adapterName": "tcp",
                "adapterOptions": {
                    "host": "logs.buckless.com",
                    "port": 12900
                }
            }
        },
        "morganStyle": "combined"
    },
    "http": {
        "host": "0.0.0.0",
        "port": 3000
    },
    "app": {
        "name": "BuckUTT_server",
        "secret": "NgWlfDWCbX4mPuxau1FmG3TPLHm7iglEA3mp1f8nrlT7zKDn8ZZAwWQOqUArvQBFfMEbFSAMnUHzgQW1FkczTiZYjPZWqdseNtk2"
    },
    "db": {
        "host": "database",
        "name": "BuckUTT_server"
    },
    "mailer": {
        "smtp": {
            "host": "smtp.mailtrap.io",
            "port": 2525,
            "auth": {
                "user": "ed37a3f7039a0e",
                "pass": "d617720e0b2db0"
            }
        }
    },
    "askpin": {
        "from": "buckutt-noreply@utt.fr",
        "subject": "BuckUTT : oubli de PIN",
        "template": "Salut !<br>Tu sembles avoir oublié ton PIN. Clique sur <a href=\"{{=it.link}}\">ce lien</a> pour en générer un nouveau !",
        "managerUrl": "http://utt.inst.buckless.com"
    }
}
