{
    "log": {
        "console": {
            "level": "debug"
        },
        "file": {
            "level": "info"
        },
        "graylog": {
            "level": "debug",
            "gelfPro": {
                "adapterName": "tcp",
                "adapterOptions": {
                    "host": "logs.buck.utt.fr",
                    "port": 12900
                }
            }
        },
        "morganStyle": "combined"
    },
    "http": {
        "host": "0.0.0.0",
        "port": 3000
    },
    "app": {
        "name": "BuckUTT_server",
        "secret": "SECRET"
    },
    "db": {
        "client": "pg",
        "connection": {
            "host"    : "sql",
            "database": "buckless",
            "user"    : "buckless",
            "password": "buckless"
        },
        "pool": {
            "min": 2,
            "max": 10
        },
        "migrations": {
            "tableName": "knex_migrations"
        }
    },
    "mailer": {
        "smtp": {
            "host": "smtp.utt.fr",
            "port": 25,
            "auth": {
                "user": "ed37a3f7039a0e",
                "pass": "d617720e0b2db0"
            }
        }
    },
    "askpin": {
        "from": "nepasrepondre-buck@utt.fr",
        "subject": "Buckutt: oubli de PIN",
        "template": "Salut !\n Il me semble que tu as oublié ton code PIN :(. Clique sur <a href=\"{{=it.link}}\">ce lien</a> pour en avoir un nouveau !",
        "managerUrl": "https://buck.utt.fr"
    }
}
