{
    "log": {
        "console": {
            "level": "debug"
        },
        "file": {
            "level": "info"
        },
        "graylog": {
            "level": "debug",
            "gelfPro": {
                "adapterName": "tcp",
                "adapterOptions": {
                    "host": "logs.buckless.com",
                    "port": 12900
                }
            }
        },
        "morganStyle": "combined"
    },
    "http": {
        "host": "0.0.0.0",
        "port": 3000
    },
    "app": {
        "name": "buckutt_server",
        "secret": "SECRET"
    },
    "db": {
        "host": "database",
        "name": "buckutt_server"
    },
    "mailer": {
        "smtp": {
            "host": "smtp.utt.fr",
            "port": 25,
            "auth": {
                "user": "user",
                "pass": "pass"
            }
        }
    },
    "askpin": {
        "from": "nepasrepondre-buck@utt.fr",
        "subject": "Buckutt: oubli de PIN",
        "template": "Salut !\n Il me semble que tu as oublié ton code PIN :(. Clique sur <a href=\"{{=it.link}}\">ce lien</a> pour en avoir un nouveau !",
        "managerUrl": "http://buck.uttnetgroup.net"
    }
}
